body {
  margin: 0;
  font-family: serif;
  background-color: #f6f6f6;
  color: #454545;
  font-size: xx-large;
}
.main-container {
  height: 100vh;
  display: grid;
  text-align: center;
  justify-content: center;
  align-items: center; /* Ajustado para centrar verticalmente */
  gap: 10px; /* Espaciado entre las dos secciones */
}

/*** ESTILOS BOTÓN SLIDE CLOSE ***/
.ov-btn-slide-close {
  background: #f6f6f6; /* color de fondo */
  color: #454545; /* color de fuente */
  padding: 16px 20px;
  position: relative;
  border: #454545;
  border-radius: 5%;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
}
.ov-btn-slide-close:before, .ov-btn-slide-close:after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: -50%;
  background-color: #454545; /* color de fondo hover */
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.ov-btn-slide-close:after {
  left: 100%;
}
.ov-btn-slide-close:hover {
  color: #f6f6f6; /* color de fuente hover */
}
.ov-btn-slide-close:hover:before {
  left: 0;
}
.ov-btn-slide-close:hover:after {
  left: 50%;
}